abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0; }

*, ::after, ::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, picture, section {
  display: block; }

dt, h1, h2, h3, h4, h5, h6, th {
  font-weight: 400; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:after, blockquote:before {
  content: "";
  content: none; }

q:after, q:before {
  content: "";
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

button, input, select, textarea {
  appearance: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 100%;
  vertical-align: middle; }

select {
  text-indent: .01px;
  text-overflow: ""; }
  select::-ms-expand {
    display: none; }

@media only screen and (max-width: 767px) {
  .display-pc {
    display: none; } }

.display-sp {
  display: none; }

@media only screen and (max-width: 767px) {
  .display-sp {
    display: block; } }

body {
  height: 100%; }

html {
  height: 100%;
  font-size: 62.5%;
  -ms-overflow-style: -ms-autohiding-scrollbar; }

body {
  margin: 0 auto;
  background-color: #000;
  color: #dcdcdc;
  font-family: "Noto Serif JP", serif;
  font-size: 1.6rem;
  line-height: 2;
  -webkit-text-size-adjust: 100%; }
  body.is-fixed {
    position: fixed;
    width: 100%; }

@media only screen and (max-width: 767px) {
  body {
    font-size: calc(32 / 750 * 100vw); } }

@media only screen and (max-width: 374px) {
  body {
    font-size: 1.6rem; } }

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  transition: 0.3s; }

@media only screen and (max-width: 767px) {
  .display-pc {
    display: none !important; } }

.display-sp {
  display: none; }

@media only screen and (max-width: 767px) {
  .display-sp {
    display: block !important; } }

@keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInBlur {
  0% {
    opacity: 0;
    filter: blur(60px); }
  100% {
    opacity: 1;
    filter: blur(0); } }

a {
  color: #d4912f;
  text-decoration: underline;
  transition: color .3s, background-color .3s; }
  a:hover {
    text-decoration: none; }

.wrap {
  box-sizing: content-box;
  max-width: 1060px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px; }

@media only screen and (max-width: 767px) {
  .wrap {
    padding-right: calc(40 / 750 * 100vw);
    padding-left: calc(40 / 750 * 100vw); } }

@media only screen and (max-width: 374px) {
  .wrap {
    padding-right: 20px;
    padding-left: 20px; } }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px; }

.header__logo {
  padding-right: 50px;
  padding-left: 50px;
  color: #fff;
  line-height: 1.75; }

@media only screen and (max-width: 767px) {
  .header {
    display: block;
    height: auto; }
  .header__logo {
    position: absolute;
    top: calc(20 / 750 * 100vw);
    right: calc(30 / 750 * 100vw);
    left: calc(30 / 750 * 100vw);
    z-index: 1000;
    padding-right: 0;
    padding-left: 0;
    font-size: calc(32 / 750 * 100vw); }
  #top .header .header__logo {
    display: none; } }

@media only screen and (max-width: 374px) {
  .header__logo {
    top: 10px;
    right: 15px;
    left: 15px;
    font-size: 1.6rem; } }

.nav-global {
  flex-basis: 40%;
  height: 100%;
  padding-right: 25px;
  padding-left: 25px;
  background-color: #fff; }
  .nav-global ul {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: calc(100% + 10px);
    margin-top: -5px;
    margin-left: calc(-50 / 750 * 100%);
    text-align: center; }
  .nav-global li {
    margin-top: 5px;
    margin-left: calc(50 / 800 * 100%);
    line-height: 1; }
    .nav-global li a {
      padding: 20px 0;
      color: #161616;
      text-decoration: none;
      display: inline-block;
      white-space: nowrap; }
      .nav-global li a:hover {
        color: #d4912f; }

#top .nav-global li a[href="/"], #menu .nav-global li a[href="#menu"], #access .nav-global li a[href="#access"] {
  color: #d4912f;
  pointer-events: none; }

@media only screen and (max-width: 767px) {
  .nav-global {
    position: fixed;
    bottom: calc(40 / 750 * 100vw);
    right: calc(16 / 750 * 100vw);
    left: calc(16 / 750 * 100vw);
    z-index: 100000;
    height: calc(115 / 750 * 100vw);
    padding-right: calc(55 / 750 * 100vw);
    padding-left: calc(55 / 750 * 100vw);
    background-color: #111e42; }
    .nav-global ul {
      flex-wrap: normal;
      justify-content: space-between;
      height: 100%;
      margin-top: 0;
      margin-left: 0;
      text-align: center; }
    .nav-global li {
      margin-top: 0;
      margin-left: 0;
      height: 100%;
      font-size: calc(26 / 750 * 100vw); }
      .nav-global li a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding-top: 0;
        padding-bottom: 0;
        color: #fff; } }

@media only screen and (max-width: 374px) {
  .nav-global {
    bottom: 20px;
    right: 8px;
    left: 8px;
    height: 50px;
    padding-right: 15px;
    padding-left: 15px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3); }
    .nav-global li {
      font-size: 1.3rem; } }

main {
  overflow: hidden; }

.visual-main {
  position: relative;
  height: calc(100% - 100px);
  padding-right: 56px;
  padding-bottom: 90px; }
  .visual-main::after {
    content: "";
    position: absolute;
    z-index: -1; }
  .visual-main::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    width: 56px;
    background-color: #fff; }

.visual-main__slide {
  height: 100%;
  animation: fadeIn 3s ease-in-out forwards; }
  .visual-main__slide img {
    position: static;
    width: 100%;
    height: 100%;
    top: auto;
    left: auto;
    object-fit: cover;
    transform: translate(0) scale(1.08);
    transition: 5s ease-out; }

.slider .slick-active img {
  transform: scale(1); }

.slick-list {
  height: 100%; }

.visual-main__headline {
  position: absolute;
  right: 155px;
  bottom: 36px;
  left: 95px;
  line-height: 1;
  text-align: right;
  animation: fadeInBlur 1.5s 1s both; }

@media only screen and (max-width: 767px) {
  .visual-main {
    height: 100%;
    padding-right: 0;
    padding-bottom: calc(284 / 750 * 100vw); }
    .visual-main::before {
      content: none; } }

@media only screen and (max-width: 767px) {
  .visual-main__headline {
    right: auto;
    bottom: calc(220 / 750 * 100vw);
    left: calc(28 / 750 * 100vw);
    text-align: left; }
    .visual-main__headline img {
      width: calc(642 / 750 * 100vw); } }

@media only screen and (max-width: 374px) {
  .visual-main {
    padding-bottom: 142px; }
    .visual-main::after {
      top: calc(100% - 142px);
      height: 445px; }
  .visual-main__headline {
    bottom: 89px;
    left: 14px; } }

.headline-top {
  text-align: center; }

.headline-top__headline {
  color: #fff;
  font-size: 3.6rem;
  letter-spacing: .02em;
  line-height: 1.5; }

.headline-top__en {
  margin-top: 35px;
  color: #e8e8e8;
  font-size: 1.4rem;
  letter-spacing: 0.6em; }
  .headline-top__en > span {
    display: inline-block;
    position: relative; }
    .headline-top__en > span::after {
      content: "";
      position: absolute;
      top: 50%;
      border-top: 1px solid #838383; }
    .headline-top__en > span::before {
      content: "";
      position: absolute;
      top: 50%;
      border-top: 1px solid #838383;
      left: calc(100% + 12px);
      width: 108px; }
    .headline-top__en > span::after {
      right: calc(100% + 20px);
      width: 100px; }

.headline-top__text {
  margin-top: 50px;
  color: #e8e8e8;
  letter-spacing: 0.02em; }

@media only screen and (max-width: 767px) {
  .headline-top__headline {
    font-size: calc(56 / 750 * 100vw); }
  .headline-top__en {
    margin-top: calc(20 / 750 * 100vw);
    font-size: calc(22 / 750 * 100vw); }
    .headline-top__en > span::before {
      left: calc(100% + calc(6 / 750 * 100vw));
      width: calc(154 / 750 * 100vw); }
    .headline-top__en > span::after {
      right: calc(100% + calc(20 / 750 * 100vw));
      width: calc(140 / 750 * 100vw); }
  .headline-top__text {
    margin-top: calc(80 / 750 * 100vw);
    text-align: center; } }

@media only screen and (max-width: 767px) {
  .headline-top__headline {
    font-size: 2.8rem; }
  .headline-top__en {
    overflow: hidden;
    margin-top: 10px;
    font-size: 1.1rem; }
    .headline-top__en > span::after {
      width: 70px; }
    .headline-top__en > span::before {
      width: 70px;
      left: calc(100% + 3px);
      width: 77px; }
    .headline-top__en > span::after {
      right: calc(100% + 10px);
      width: 70px; }
  .headline-top__text {
    margin-top: 40px; } }

.intro {
  position: relative;
  height: 450px;
  padding-top: 55px;
  padding-bottom: 120px; }

.intro__text {
  position: relative;
  z-index: 3;
  padding-left: 10px;
  font-size: 1.8rem;
  letter-spacing: 0.02em; }
  .intro__text > p:not(:first-child) {
    margin-top: 35px; }

.intro__image {
  overflow: hidden;
  position: absolute;
  top: 35%;
  left: 50%;
  right: 0;
  height: 474px;
  transform: translateY(-50%); }
  .intro__image img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    max-width: none;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    transition: none; }

html:not(.no-js) .intro .intro__image[data-aos=fade-left] {
  -webkit-transform: translate3d(100px, -50%, 0);
  transform: translate3d(100px, -50%, 0); }

html:not(.no-js) .intro .intro__image[data-aos^=fade][data-aos^=fade].aos-animate {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

@media only screen and (max-width: 767px) {
  .intro {
    height: auto;
    padding-top: 0;
    padding-bottom: calc(180 / 750 * 100vw); }
  .intro__text {
    padding-left: 0;
    font-size: calc(32 / 750 * 100vw);
    text-align: justify; }
    .intro__text > p:not(:first-child) {
      margin-top: calc(60 / 750 * 100vw); }
  .intro__image {
    position: static;
    height: auto;
    margin-top: calc(120 / 750 * 100vw);
    margin-right: calc(50% - 50vw);
    transform: none; }
    .intro__image img {
      position: static;
      width: 100%;
      min-width: auto;
      min-height: auto;
      transform: none; }
  html:not(.no-js) .intro .intro__image[data-aos=fade-left] {
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0); }
  html:not(.no-js) .intro .intro__image[data-aos^=fade][data-aos^=fade].aos-animate {
    -webkit-transform: none;
    transform: none; } }

@media only screen and (max-width: 374px) {
  .intro {
    padding-bottom: 90px; }
  .intro__text {
    font-size: 1.8rem; }
    .intro__text > p:not(:first-child) {
      margin-top: 30px; }
    .intro__text br {
      display: none; }
  .intro__image {
    margin-top: 60px; } }

.program-top {
  padding-top: 105px;
  padding-bottom: 120px;
  background-color: #0d1426; }

.program-top__slide {
  position: relative;
  margin: 50px calc(50% - 50vw) 0;
  animation: fadeIn 3s ease-in-out forwards; }
  .program-top__slide .slick-track {
    left: -220px; }
  .program-top__slide .slick-slide {
    margin-left: 20px;
    width: 440px; }

.program-top .headline-top__headline {
  color: #dcdcdc; }

@media only screen and (max-width: 767px) {
  .program-top {
    padding-top: calc(160 / 750 * 100vw);
    padding-bottom: calc(180 / 750 * 100vw); }
  .program-top__slide {
    margin-top: calc(80 / 750 * 100vw); }
    .program-top__slide .slick-track {
      left: 0; }
    .program-top__slide .slick-slide {
      margin-left: calc(26 / 750 * 100vw);
      width: calc(440 / 750 * 100vw); } }

@media only screen and (max-width: 374px) {
  .program-top {
    padding-top: 80px;
    padding-bottom: 90px; }
  .program-top__slide {
    margin-top: 40px; }
    .program-top__slide .slick-slide {
      margin-left: 13px;
      width: 220px; } }

.calendar {
  padding-top: 105px;
  padding-bottom: 120px; }

.calendar__list {
  max-width: 720px;
  margin: 50px auto 0; }

@media only screen and (max-width: 767px) {
  .calendar {
    padding-top: calc(160 / 750 * 100vw);
    padding-bottom: calc(180 / 750 * 100vw); } }

@media only screen and (max-width: 767px) {
  .calendar__list {
    max-width: auto;
    margin: calc(100 / 750 * 100vw) calc(50% - 50vw) 0; } }

@media only screen and (max-width: 374px) {
  .calendar {
    padding-top: 80px;
    padding-bottom: 90px; }
  .calendar__list {
    margin-top: 50px; } }

.list-calendar ul {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin-top: -5px;
  margin-left: -5px; }

.list-calendar li {
  flex-basis: 140px;
  height: 140px;
  margin-top: 5px;
  margin-left: 5px;
  text-align: center; }

.list-calendar a, .list-calendar button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%;
  color: #db6c6b;
  font-size: 4.4rem;
  pointer-events: none;
  text-align: center;
  text-decoration: none;
  transition: ease-out 0.3s; }

.list-calendar a::after, .list-calendar a::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  z-index: -1;
  background-color: rgba(150, 14, 14, 0.6);
  transition: 0.3s; }

.list-calendar button::after, .list-calendar button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  z-index: -1;
  background-color: rgba(150, 14, 14, 0.6);
  transition: 0.3s; }

.list-calendar a.is-finished {
  color: #fff;
  background: center center/100% 100% no-repeat;
  pointer-events: auto;
  cursor: pointer; }
  .list-calendar a.is-finished[aria-controls*="01"] {
    background-image: url(../assets/img/top/calendar_img_thumb01.jpg); }
  .list-calendar a.is-finished[aria-controls*="02"] {
    background-image: url(../assets/img/top/calendar_img_thumb02.jpg); }
  .list-calendar a.is-finished[aria-controls*="03"] {
    background-image: url(../assets/img/top/calendar_img_thumb03.jpg); }
  .list-calendar a.is-finished[aria-controls*="04"] {
    background-image: url(../assets/img/top/calendar_img_thumb04.jpg); }
  .list-calendar a.is-finished::before {
    content: none; }
  .list-calendar a.is-finished::after {
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4); }

.list-calendar button.is-finished::after {
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4); }

.list-calendar a.is-finished:hover, .list-calendar button.is-finished:hover {
  opacity: 0.7; }

@media only screen and (max-width: 767px) {
  .list-calendar ul {
    margin-top: calc(-4 / 750 * 100vw);
    margin-left: calc(-4 / 750 * 100vw); }
  .list-calendar li {
    flex-basis: calc(140 / 750 * 100vw);
    height: calc(140 / 750 * 100vw);
    margin-top: calc(4 / 750 * 100vw);
    margin-left: calc(4 / 750 * 100vw); }
  .list-calendar a, .list-calendar button {
    font-size: calc(44 / 750 * 100vw); } }

.modal-calendar {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  backface-visibility: hidden;
  transition: .3s; }
  .modal-calendar[aria-hidden=false] {
    visibility: visible;
    opacity: 1; }
    .modal-calendar[aria-hidden=false] .modal-calendar__overlay {
      visibility: visible;
      opacity: 1; }
    .modal-calendar[aria-hidden=false] .modal-calendar__contents {
      visibility: visible;
      opacity: 1;
      transform: scale(1); }

.modal-calendar__overlay {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); }

.modal-calendar__contents {
  visibility: hidden;
  opacity: 0;
  box-sizing: content-box;
  display: flex;
  position: relative;
  z-index: 3;
  flex-direction: column;
  justify-content: center;
  max-width: 880px;
  height: calc(100% - 100px);
  margin-right: auto;
  margin-left: auto;
  padding: 50px 20px;
  pointer-events: none;
  transform: scale(0.7);
  transition: 0.7s; }

.modal-calendar__inner {
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  background-color: #fff;
  pointer-events: auto; }

.modal-calendar__unit {
  display: flex; }

.modal-calendar__image, .modal-calendar__text {
  flex: 1;
  max-width: 50%; }

.modal-calendar__image {
  overflow: hidden;
  position: relative;
  height: 100%; }
  .modal-calendar__image img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    max-width: none;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    transition: none;
    position: static;
    width: 100%;
    height: 100%;
    top: auto;
    left: auto;
    object-fit: cover;
    transform: none; }

.modal-calendar__text {
  align-self: center;
  padding: calc(30 / 880 * 100%) calc(50 / 880 * 100%) calc(30 / 880 * 100%) calc(45 / 880 * 100%);
  color: #000;
  line-height: 1.8; }
  .modal-calendar__text > p {
    text-align: justify;
    text-justify: inter-ideograph;
    font-size: 1.4rem; }
    .modal-calendar__text > p + p {
      margin-top: 10px; }
    .modal-calendar__text > p span {
      font-size: 1.8rem;
      color: #970e0e;
      margin-right: 10px; }

.modal-calendar__close {
  position: fixed;
  top: 55px;
  right: 50px;
  z-index: 100;
  width: 30px;
  height: 30px;
  cursor: pointer;
  text-indent: -9999px;
  transition: 0.3s; }
  .modal-calendar__close::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 50%;
    width: 40px;
    height: 2px;
    margin: auto;
    background-color: #fff;
    transition: 0.3s; }
  .modal-calendar__close::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 50%;
    width: 40px;
    height: 2px;
    margin: auto;
    background-color: #fff;
    transition: 0.3s;
    transform: translateX(-50%) rotate(45deg); }
  .modal-calendar__close::after {
    transform: translateX(-50%) rotate(-45deg); }
  .modal-calendar__close:hover {
    opacity: 0.5; }

@media only screen and (max-width: 767px) {
  .modal-calendar[aria-hidden=false] .modal-calendar__contents {
    transform: scale(1); }
  .modal-calendar__contents {
    box-sizing: border-box;
    max-width: none;
    height: 100%;
    padding: calc(10 / 750 * 100vw); }
  .modal-calendar__inner {
    height: 100%; }
  .modal-calendar__unit {
    display: block;
    padding: calc(90 / 750 * 100vw) calc(50 / 750 * 100vw) calc(50 / 750 * 100vw); }
  .modal-calendar__image, .modal-calendar__text {
    max-width: none; }
  .modal-calendar__image {
    padding-right: calc(50 / 750 * 100vw);
    padding-left: calc(50 / 750 * 100vw);
    height: auto; }
    .modal-calendar__image img {
      position: static;
      width: 100%;
      height: 100%;
      max-width: none;
      transform: none; }
  .modal-calendar__text {
    margin-top: calc(40 / 750 * 100vw);
    padding: 0;
    font-size: calc(26 / 750 * 100vw); }
    .modal-calendar__text > p + p {
      margin-top: calc(10 / 750 * 100vw); }
    .modal-calendar__text > p span {
      font-size: calc(36 / 750 * 100vw); }
  .modal-calendar__close {
    position: fixed;
    top: calc(40 / 750 * 100vw);
    right: calc(40 / 750 * 100vw);
    width: calc(42 / 750 * 100vw);
    height: calc(42 / 750 * 100vw); }
    .modal-calendar__close::after, .modal-calendar__close::before {
      top: calc(20 / 750 * 100vw);
      width: calc(55 / 750 * 100vw);
      background-color: #161616; } }

@media only screen and (max-width: 374px) {
  .modal-calendar__contents {
    padding: 5px; }
  .modal-calendar__inner {
    height: 100%; }
  .modal-calendar__unit {
    padding: 45px 25px 25px; }
  .modal-calendar__image {
    padding-right: 25px;
    padding-left: 25px; }
  .modal-calendar__text {
    margin-top: 20px;
    font-size: 1.3rem; }
    .modal-calendar__text > p + p {
      margin-top: 5px; }
    .modal-calendar__text > p span {
      font-size: 1.8rem; }
  .modal-calendar__close {
    top: 20px;
    right: 17px;
    width: 26px;
    height: 26px; }
    .modal-calendar__close::after, .modal-calendar__close::before {
      top: 10px;
      width: 28px; } }

.access-top {
  padding-top: 105px;
  padding-bottom: 120px;
  background-color: #0d1426; }

@media only screen and (max-width: 767px) {
  .access-top {
    padding-top: calc(160 / 750 * 100vw);
    padding-bottom: calc(180 / 750 * 100vw); } }

@media only screen and (max-width: 374px) {
  .access-top {
    padding-top: 80px;
    padding-bottom: 90px; } }

.footer {
  overflow: hidden; }

.footer__contents {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center; }

.footer__sns {
  display: flex;
  justify-content: center;
  margin: 20px 0px; }
  .footer__sns li {
    font-size: 1.2rem;
    letter-spacing: 0.02em; }
    .footer__sns li:not(:first-child) {
      margin-left: 5px; }
    .footer__sns li a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 168px;
      height: 30px;
      background-color: #2d2d2d;
      color: #fff;
      text-decoration: none; }
      .footer__sns li a:hover {
        background-color: #d4912f; }

@media only screen and (max-width: 767px) {
  .footer__contents {
    padding-top: calc(60 / 750 * 100vw);
    padding-bottom: calc(200 / 750 * 100vw); }
  .footer__sns {
    margin-top: calc(40 / 750 * 100vw); }
    .footer__sns li {
      font-size: calc(24 / 750 * 100vw); }
      .footer__sns li:not(:first-child) {
        margin-left: calc(10 / 750 * 100vw); }
      .footer__sns li a {
        width: calc(280 / 750 * 100vw);
        height: calc(60 / 750 * 100vw); } }

@media only screen and (max-width: 374px) {
  .footer__contents {
    padding-top: 30px;
    padding-bottom: 100px; }
  .footer__sns {
    margin-top: 20px; }
    .footer__sns li {
      font-size: 1.2rem; }
      .footer__sns li:not(:first-child) {
        margin-left: 5px; }
      .footer__sns li a {
        width: 140px;
        height: 30px; } }

.copyright {
  margin-top: 5px;
  color: #878787;
  font-size: 1.2rem; }

@media only screen and (max-width: 767px) {
  .copyright {
    margin-top: calc(10 / 750 * 100vw);
    font-size: calc(22 / 750 * 100vw); } }

@media only screen and (max-width: 374px) {
  .copyright {
    margin-top: 5px;
    font-size: 1.1rem; } }
